dotenv
fastapi
ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-box
python-dotenv
python-jose[cryptography]
python-multipart
pyyaml
ruff
scikit-learn
tqdm
typer
uvicorn
dvc[s3]
mlflow
dagshub
-e .
