/rakuten_batch_0001.csv
/rakuten_batch_0002.csv
/rakuten_batch_0003.csv
/rakuten_batch_0004.csv
/rakuten_batch_0005.csv
/rakuten_batch_0006.csv
/rakuten_batch_0007.csv
/rakuten_batch_0008.csv
/rakuten_batch_0009.csv
/rakuten_batch_0010.csv
/rakuten_dataset_full.csv
/rakuten_dataset_remainder.csv
